.create {
  padding-top: 2rem;

  &__button{
    font-size:1.5rem;
    color: #2c2c2c;
    cursor: pointer;
    padding: 1rem;
    border: 0;
    border-radius: 2.1875rem;
    transition: all 0.5s;
    width: 30%;
    position: relative;

    &:hover {
      transition: all 0.5s;
      box-shadow: 0.125rem 0.125rem 0.375rem 0.125rem #000000;
      color: #2c2c2c;
    }
  }
}

.search {
  padding: 2rem 0 0 0;
  &__input{
    width: 100%;
    border: 0.1875rem solid white;
    border-radius: 3.125rem !important;
    font-size: 1.5625rem;
    background-color: white;
    background-size: 1.5rem;
    background-image: url('../../assets/search.svg');
    background-position: 0.625rem 1.0625rem;
    background-repeat: no-repeat;
    padding: 0.75rem 1.25rem 0.75rem 2.5rem;
    -webkit-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
  }
}
.search__input > input,
input::-webkit-input-placeholder {
  font-size: 1.5625rem;
}


.search__input > textarea:focus, input:focus {
  outline: none;
  box-shadow: 2px 2px 6px 2px #000000;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 450px) {
  .create__button{
    min-width: 100%;
  }
}


