/**
  * Custom style for the page can be added to this scss file.
  * This file imports the variables and functions if necessary.
*/

@import "variables";
@import 'src/components/main/main';
@import "src/components/recipes/recipe";
@import "src/components/menu-bar/menu";
@import "src/components/recipes/cards/card";
@import "src/components/recipes/modal/modal";
@import "src/components/home/home";
@import "src/components/scss/global";

