

@media screen and (max-width: 725px) {
  .card{
    min-width: 100%;
    margin-left: 0 !important;
  }
}

.card {
  width: 45%;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;
  margin-top: 1rem;
  margin-left: 2rem;
  border-radius: 10px;

  img {
    margin:auto;
    border-radius: 0 0 10px 10px;
  }

  &__description {
    cursor: pointer;
    color: black;
  }

  &__directions{
    text-align: justify;
  }

  &__edit {
    cursor: pointer;
    height: 3rem;
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: 98%;
    background-image: url('~@/assets/edit.svg');
  }

}

h1, p {
  margin: 0;
  padding: 0 0 .5em;
}

.container {
  margin-top: 1rem;
  transition: .15s all ease-in-out;
}


.caption {
  position: relative;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.caption::before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  transition: background .35s ease-out;
}

.caption:hover::before {
  background: rgba(0, 0, 0, .5);
}

.caption__media {
  display: block;
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

.caption__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: white;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: -webkit-transform .35s ease-out;
  transition:         transform .35s ease-out;
}

.caption:hover .caption__overlay {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.caption__overlay__title {
  -webkit-transform: translateY( -webkit-calc(-100% - 10px) );
  transform: translateY( calc(-100% - 10px) );
  transition: -webkit-transform .35s ease-out;
  transition:         transform .35s ease-out;
}

.caption:hover .caption__overlay__title {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
