.card {
  box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;
  margin-top: 1rem;
  transition: .15s all ease-in-out;

  &__description{
    cursor: pointer;
    color: black;
  }

  &__edit{
    cursor: pointer;
    height: 3rem;
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: 98%;
    background-image: url('~@/assets/edit.svg');
  }

  &:hover {
    transform: scale(1.05);
  }

  a:hover{
    color: black;
  }

  a {
    text-decoration: none;
    padding: 12px;
    font-size: 24px;
    align-items: center;

    img {
      height: 100px;
    }

    small {
      font-size: 10px;
      padding: 4px;
    }
  }
}
