
.recipe-readOnly{
  &__text {
    position: relative;
    padding-bottom:1rem;
    text-align: justify;
  }

  @media screen and (max-width: 725px) {
       p{
        width: 100%;
      }
  }

  &__left{
   font-weight: bold;
  }
}

.submit-modal{
  display: block;
  &__close{
    float: right;
    cursor: pointer;
  }
  &__background{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-color: rgba(34, 34, 34, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
  }

  &__background::-webkit-scrollbar {
    display: none;
  }

  &__background {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  &__modal{
    padding: 2rem;
    margin: 0.5rem;
    background: white;
    width: 37.5rem;
    z-index: 50;


    &__header{
      display: flex;
      position: relative;

      &__title{
        font-size: 2rem;
        line-height: 1.25;
        color: #00716b;
        padding-right: 2rem;

      }

      &__close{
        height: 1.5rem;
        width: 1.5rem;
        filter: invert(44%) sepia(0%) saturate(13%) hue-rotate(263deg) brightness(93%) contrast(108%);
        position: absolute;
        top: 0.5rem;
        right: 0;

        &:hover{
          cursor:pointer;
        }
      }
    }

    &__body{
      margin-bottom: 1.5rem;
    }

    &__button-bar{
      margin: 0 -1.5rem -1.5rem -1.5rem;
      padding: 1rem;
      background-color: #f2f7f7;
      text-align: right;

      &__button{
        &:first-child{
          margin-right: 1rem;
        }

      }
    }
  }
}

/* CSS used here will be applied after bootstrap.css */

.modal{
  display: block !important;
}

.modal-body::-webkit-scrollbar{
  display: none;
}

.modal-body{
  height: 38rem;
  overflow-y: auto;
}

